html {
	background: black;
	background-image: url("img/background/wine-table-background.png");
	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

body {
	background: none;
	background-color: transparent;
}

#gwd-logo {
	height: 200px;
	width: 200px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

 .gwt-Label {
 	color: white;
 }

.gwt-TextBox.loginBox, .gwt-PasswordTextBox.loginBox {
	font-size: 14pt;
	height: 46px;
	width: 250px;
	padding: 5px 10px;
	margin: 2px;
	background-color:rgba(255, 255, 255, 0.4);
	border: 2px solid white;
	color: white;
	font-weight: 500;
	box-sizing: border-box;
}

.gwt-Button.loginButton {
	font-size: 14pt;
	height: 46px;
	width: 250px;
	padding: 5px 10px;
	margin: 2px;
	font-weight: 500;
	box-sizing: border-box;
}

.backingPanel {
	background-color:rgba(0, 0, 0, 0.8);
	top: 50%;
    left: 50%;
    position: fixed;
    text-align: center;
    margin: auto;
}

.loginBackingPanel {
	padding: 50px;
    width: 350px;
    height: 250px;
    margin-top: -125px;
    margin-left: -175px;
}

.gwt-PopupPanel.alertPopupBackground {
	background-color:rgba(0, 0, 0, 0.9);
	border: 2px solid white;
	width: 400px;
	text-align: center;
}

.gwt-Label.alertPopupMessageText {
	color: white;
	font-size: 13pt;
	padding: 50px 10px;
	margin: auto;
	text-align: center;
}

.gwt-Button.alertPopupCloseButton {
	width: 100%;
	width: 400px;
	height: 30px;
	line-height: 16px;
	font-size: 16px;
	border-width: 1px;
	margin: 4px;
}

.gwt-Button.baseButton {
	background-color:rgba(50, 50, 50, 0.9);
	color: white;
	background: none;
	border: 2px solid white;
	border-radius: 0px;
}

.gwt-Button.baseButton:hover {
	border: 2px solid white;
	color: black;
	background-color:rgba(150, 150, 150, 0.9);
}

.alertPopupVerticalPanel {
	text-align: center;
	margin: auto;
	background-color:rgba(0, 0, 0, 0.9);
	border: 2px solid #8f0000;
}

.loggedInBackingPanel {
	padding: 50px;
    width: 1000px;
    height: 650px;
    margin-top: -325px;
    margin-left: -500px;
}

.navigationAnchor {
	color: white;
	font-size: 14pt;
	border-bottom: 2px solid white;
	margin: 0px 20px;
	padding: 2px 10px;
}

.navigationAnchor:hover {
	color: #8f0000;
	text-decoration: none;
}

.loadingPopup {
	background-color:rgba(0, 0, 0, 0.9);
	border: 2px solid #8f0000;
	border-radius: 8px;
}

.loadingImage {
	width: 128px;
	height: 128px;
	padding: 15px;
}

.gwt-PopupPanel {
    border: none !important;
    background: none !important;
 }
 
.navigationPanel {
	border-bottom: 2px solid #8f0000;
	padding: 0px 10px 15px 10px;
	width: 100%;
}

.ingredientLabel {
	font-size: 14pt;
	line-height: 30px;
	padding: 1px 20px 1px 0px;
}

.ingredientRemoveButton {
	height: 25px;
	line-height: 0px;
}
 
.contentHeaderLabel {
	font-size: 20pt;
	padding: 10px;
	
}

.contentPanel {
	padding: 0px 15px;
}
